/* GENERAL */
:root{
  --white-bkgrnd: white;
  --celestine-bkgrnd: #B4D0E7;
  --blue-bkgrnd: #0061FF;
  --white-txt: white;
  --black-txt: black;
  --light-grey: #DEDEDE;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
  font-size: 1.8rem;
  font-weight: bolder;
  margin: 30px 0px;
}
h3{
  font-size: 1.3rem;
  margin: 20px 0px;
}
p{
  margin: 10px 0px;
}
header nav, main{
  background-color: var(--white-bkgrnd);
}
/* DEBUG */
.debug-box{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, 0.295);
  min-height: 200px;
  margin: 10px 0px;
}
.debug{
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.534);
  min-height: 50px;
}
/* FLEX */
  .d-flex{
    display: flex;
  }
  .d-wrap{
    flex-wrap: wrap;
  }
  .d-column{
    flex-direction: column;
  }
/* CONTAINER */
.big-container{
  width: 75%;
  margin: 0px auto;
  min-width: 1200px;
}
.smll-container{
  min-width: 1000px;
  width: 62%;
  margin: 0px auto;
}
/* BUTTON */
button{
  background-color: var(--blue-bkgrnd);
  color: var(--white-txt);
  padding: 15px 8px;
  cursor: pointer;
} 
button a{
  color: var(--white-txt);
  text-decoration: none;
}
/* HEADER */
header{
  background-color: var(--celestine-bkgrnd);
}
   /* HEADER NAV */
header nav{
  background-color: var(--white-bkgrnd);
  justify-content: space-between;
  align-items: center;
}
header nav .sx-nav-box, .dx-nav-box{
  margin: 5px 15px;
}
header nav .logo img{
  height: 100%;
  width: 100%;
  padding: 20px 10px;
}
header nav div{

  line-height: 80px;
  margin: 20px;
}
header nav a{
  color: var(--black-txt);
  text-decoration: none;
}
header nav div button{
  margin: 0;
  padding: 10px;
}
header nav div button a{
  color: var(--white-txt);
}

    /* HEADER JUMBOTRON */
header .jumbo h1 {
  font-size: 5rem;
  margin: 40px 0px;
  font-weight: bold;
}
header .jumbo .jumbo-txt{
  width: 30%;
  justify-content: space-between;
}
header .jumbo .jumbo-txt i{
  font-size: 3rem;
  padding: 10px;
}
header .jumbo .jumbo-txt button{
  width: 70%;
}
header .jumbo .jumbo-img{
  width: 650px;
  height: 350px;
  display: inline;
}
header .jumbo .jumbo-img img{
  width: 850px;
  height: 420px;
}
/* MAIN */
main h1{
  font-size: 2.5rem;
  margin: 25px 0px;
}
    /*  SECTION PLANE BUSINESS */
main section div.billing-choice span{
  margin-right: 40px;
  display: inline-block;
}
main section .box-card-row{
  justify-content: space-between;
}
main section .box-card-row .card-pln-bsnss{
  width: 30%;
}
main section .card-pln-bsnss{
  margin: 20px 0px;
  border: 1px solid var(--light-grey);
}
main section .card-pln-bsnss .title-card{
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid var(--light-grey);

}
section .card-pln-bsnss main-card,
p , ul, li{
  font-size: 0.85rem;
}
/* section .card-pln-bsnss ul{
  list-style: none;
  margin-left: 0;
  padding-left: 0;

}
section .card-pln-bsnss ul .ul-check li::before{
  content: "&#10004";
} */
.card-pln-bsnss .main-card .price{
  font-weight: bolder;
}
.card-pln-bsnss .main-card .price, .mod-service{
  font-size: 0.75rem;
}
.card-pln-bsnss .main-card .mod-service{
  color: rgb(146, 146, 146);
}
.card-pln-bsnss .bottom-txt-card .card-bttm-sx{
  width: calc(100% - 350px);
}
    /* DIV TXT&IMG */
div .img-txt{
  width: 100%;
  margin: 70px 0px;
}
div .img-txt div{
  padding: 60px 50px;
}
div .img-txt img{
  width: 600px;
  height: 500px;
}
    /* SECTION CARD */

section .card-box .box-card-row{
  width: 100%;
}
section .card-box .box-card-row .card{
  width: calc(100% / 3);
  margin: 10px;
}
section .card-box .box-card-row .card img{
  width: 100%;
  height: 50%;
}
    /* SECTION PARTNER COMPANIES */
section .square-box{
  width: 100%;
}
    /* FAQ */
section.faq-box div.hide-box{
  display: none;
}
section.faq-box .faq-row:hover div.hide-box{
  display: block;
}
/* FOOTER */
footer{
  background-color: black;
  color: var(--white-txt);
  margin-bottom: 0px;
}
footer .sect-column{
  justify-content: space-between;
  min-width: none;
  min-height: auto;
}
footer .sect-column .col-txt{
  margin: 100px 0px;
  width: calc(100% / 5);
}
.foot-section{
  height: 120px;
}
.foot-section .language{
  width: 10%;
  height: 100%;
  border-top: 1px solid var(--light-grey);
}
.foot-section .language p{
  margin: 30px 0px;
}