/* GENERAL */
:root{
  --white-bkgrnd: white;
  --celestine-bkgrnd: #B4D0E7;
  --blue-bkgrnd: #0061FF;
  --white-txt: white;
  --black-txt: black;
  --light-grey: #DEDEDE;
  --margin-def: 180px 0px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
  font-size: 1.8rem;
  font-weight: bolder;
  margin: 30px 0px;
}
h3{
  font-size: 1.3rem;
  margin: 20px 0px;
}
p{
  margin: 10px 0px;
}
li{
  padding: 20px 0px;
}
div.ltl-border{
  width: 25%;
  border-top: 1px solid var(--light-grey);
}
header nav, main{
  background-color: var(--white-bkgrnd);
}
/* DEBUG */
.debug-box{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, 0.295);
  min-height: 200px;
  margin: 10px 0px;
}
.debug{
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.534);
  min-height: 50px;
}
/* FLEX */
  .d-flex{
    display: flex;
  }
  .d-wrap{
    flex-wrap: wrap;
  }
  .d-column{
    flex-direction: column;
  }
/* CONTAINER */
.big-container{
  width: 75%;
  margin: 0px auto;
  min-width: 1200px;
}
.smll-container{
  min-width: 1000px;
  width: 62%;
  margin: 0px auto;
}
/* BUTTON */
button{
  background-color: var(--blue-bkgrnd);
  color: var(--white-txt);
  padding: 8px 4px;
  cursor: pointer;
} 
button a{
  color: var(--white-txt);
  text-decoration: none;
}
/* HEADER */
header{
  background-color: var(--celestine-bkgrnd);
}
   /* HEADER NAV */
header nav{
  background-color: var(--white-bkgrnd);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
header nav div ul{
  height: 100%;
}
header nav div.sx-nav-box li{
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0px 10px;
  align-items: center;
}
header nav div.dx-nav-box li{
  list-style: none;
  padding: 0;
  margin: 0px 10px;
  align-items: center;
}
header nav .logo img{
  object-fit: contain;
}
header nav a{
  color: var(--black-txt);
  text-decoration: none;
}
header nav li:hover{
  border-bottom: 1px solid var(--black-txt);
}
header nav div button{
  padding: 5px 15px;
}
header nav div button a{

  color: var(--white-txt);
}

    /* HEADER JUMBOTRON */
header .jumbo h1 {
  font-size: 4rem;
  margin: 40px 0px;
  font-weight: bold;
  padding: 80px 0px;
}
header .jumbo{
  margin-top: 100px;
}
header .jumbo .jumbo-txt{
  width: 30%;
  justify-content: space-between;
}
header .jumbo .jumbo-txt i{
  font-size: 3rem;
  padding: 10px;
}
header .jumbo .jumbo-txt button{
  width: 70%;
}
header .jumbo .jumbo-img{
  width: 650px;
  height: 350px;
  display: inline;
}
header .jumbo .jumbo-img img{
  width: 850px;
  height: 420px;
}
/* MAIN */
main h1{
  font-size: 2.5rem;
  margin: 50px 0px;
}
    /*  SECTION PLANE BUSINESS */
section.plane-business{
  margin: var(--margin-def);
}

main section div.billing-choice span{
  margin: 40px 40px 40px 0px;
  display: inline-block;
}
main section .box-card-row{
  justify-content: space-between;
  margin-top: 30px;
}
main section .box-card-row .card-pln-bsnss{
  width: 30%;
}
main section .card-pln-bsnss{
  margin: 20px 0px;
  border: 1px solid var(--light-grey);
}
main section .card-pln-bsnss .title-card{
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid var(--light-grey);

}
section .card-pln-bsnss main-card,
p , ul, li{
  font-size: 0.85rem;
}
.card-pln-bsnss .main-card .price{
  font-weight: bolder;
}
.card-pln-bsnss .main-card .price, .mod-service{
  font-size: 0.75rem;
}
.card-pln-bsnss .main-card .mod-service{
  color: rgb(146, 146, 146);
}
.card-pln-bsnss .main-card {
  width: 90%;
  margin: 20px auto;
}
.card-pln-bsnss .bottom-txt-card{
  justify-content: space-between;
  padding: 20px;
}
.card-pln-bsnss .bottom-txt-card .card-bttm-sx{
  width: calc(100% - 350px);
}

    /* DIV TXT&IMG */
div .img-txt{
  width: 100%;
  margin: var(--margin-def);
}
div .img-txt div{
  padding: 60px 50px;
}
div .img-txt img{
  width: 600px;
  height: 500px;
}
    /* SECTION CARD */
section.card-section{
  margin: var(--margin-def);
}
section .card-box .box-card-row{
  width: 100%;
}
section .card-box .box-card-row .card{
  width: calc(100% / 3);
  margin: 10px;
}
section .card-box .box-card-row .card img{
  width: 100%;
  height: 50%;
}
    /* P & LINK */
.p-link{
  margin: var(--margin-def);
}
    /* SECTION PARTNER COMPANIES */
section .square-box{
  width: 100%;
}
.square-box .square{
  width: calc(100% / 3);
  height: calc(100vw / 3);
}
.square-box .square .ltl-square{
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.square-box .square .ltl-square svg{
  filter: invert(1);
  height: 100%;
  width: 100%;
}
.square .ltl-square.companies-1{
  background-color: #A2D39B;  
}
.square .ltl-square:hover{
  border: 20px inset rgba(255, 255, 255, 0.226);
}
.square .ltl-square.companies-2{
  background-color: #61082B;
}
.square .ltl-square.companies-3{
  background-color: #0092CC;
}
.square .ltl-square.companies-4{
  background-color: #F41B1B;
}
.square .ltl-square.companies-5{
  background-color: #D5001F;
}
.square .ltl-square.companies-6{
  background-color: #B4D0E7;
} 
.square .ltl-square.companies-7{
  background-color: #0D2481;
}
.square .ltl-square.companies-8{
  background-color: #FFD830;
}
.square-box .square.big-square{
  padding: 40px;
  overflow-y: auto;
}
.square-box .square.big-square{
  background-color: #F5F5F5;
}
.square-box .square.big-square svg{
  width: 100%;
  height: 100%;
}

    /* FAQ */
section.faq-box{
  margin: var(--margin-def);
}
section.faq-box div.hide-box{
  display: none;
}
section.faq-box .faq-row{
  border-top: 1px solid var(--light-grey);
  position: relative;
}
section.faq-box .faq-row i{
  position: absolute;
  right: 35px;
  top: 30px;
}
section.faq-box .faq-row:last-child{
  border-bottom: 1px solid var(--light-grey);
}
section.faq-box .faq-row:hover div.hide-box{
  display: block;
}
/* FOOTER */
footer{
  background-color: black;
  color: var(--white-txt);
  margin-bottom: 0px;
}
footer .sect-column{
  justify-content: space-between;
  min-width: none;
  min-height: auto;
}
footer .sect-column .col-txt{
  margin: 100px 0px;
  width: calc(100% / 5);
}
footer .sect-column .col-txt a{
  display: block;
  color: white;
  text-decoration: none;
  margin-top: 40px;
  font-weight: 300;
}
.foot-section{
  height: 120px;
}
.foot-section .language{
  width: 10%;
  height: 100%;
  border-top: 1px solid var(--light-grey);
}
.foot-section .language p{
  margin: 30px 0px;
}